@mixin styles {
  /* Framework color */
  --main-bg: hsl(20deg, 30%, 90%);
  --mask-bg: #c5c2c1;
  --main-border-color: hsl(320, 80%, 20%);

  /* Common color */
  --text-color: hsl(335, 7%, 22%);
  --text-muted-color: hsl(335, 10%, 38%);
  --text-muted-highlight-color: inherit;
  --heading-color: #2a2a2a;
  --label-color: var(--text-muted-color);
  --blockquote-border-color: var(--link-underline-color);
  --blockquote-text-color: var(--text-muted-color);
  --link-color: hsl(335, 100%, 35%);
  --link-underline-color: hsl(330, 80%, 30%);
  --button-bg: hsl(335, 70%, 75%);
  --btn-border-color: hsl(330, 37%, 72%);
  --btn-backtotop-color: hsl(320, 80%, 20%);
  --btn-backtotop-border-color: #f1f1f1;
  --checkbox-color: #c5c5c5;
  --checkbox-checked-color: var(--link-color);
  --img-bg: radial-gradient(
    circle,
    rgb(238, 238, 238) 0%,
    rgb(206, 190, 200) 100%
  );
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(250, 250, 250, 0) 0%,
    rgba(232, 230, 230, 1) 50%,
    rgba(250, 250, 250, 0) 100%
  );

  /* Sidebar */
  --site-title-color: hsl(320deg, 90%, 85%);
  --site-subtitle-color: hsl(320deg, 70%, 70%);
  --sidebar-bg: hsl(335deg, 60%, 35%);
  --sidebar-border-color: var(--link-underline-color);
  --sidebar-muted-color: var(--site-subtitle-color);
  --sidebar-active-color: var(--site-title-color);
  --sidebar-hover-bg: hsl(335deg, 90%, 25%);
  --sidebar-btn-bg: var(--sidebar-hover-bg);
  --sidebar-btn-color: var(--site-subtitle-color);
  --avatar-border-color: hsla(0deg, 0%, 0%, 0);

  /* Topbar */
  --topbar-bg: hsla(20deg, 30%, 90%, 70%);
  --topbar-text-color: var(--text-muted-color);
  --search-border-color: hsl(320, 70, 70);
  --search-icon-color: var(--text-muted-color);
  --input-focus-border-color: var(--link-underline-color);

  /* Home page */
  --post-list-text-color: #696969;
  --btn-patinator-text-color: rgb(84, 84, 84);
  --btn-paginator-hover-color: var(--sidebar-bg);

  /* Posts */
  --toc-highlight: var(--link-color);
  --toc-popup-border-color: hsl(0deg, 0%, 22%);
  --btn-share-color: hsl(320, 15%, 50%);
  --btn-share-hover-color: hsl(335, 98%, 52%);
  --card-bg: hsl(20deg, 30%, 95%);
  --card-hovor-bg: #e2e2e2;
  --card-shadow: rgb(104, 104, 104, 0.05) 0 2px 6px 0,
    rgba(211, 209, 209, 0.15) 0 0 0 1px;
  --footnote-target-bg: hsl(330, 100%, 94%);
  --tb-odd-bg: hsl(20deg, 35%, 88%);
  --tb-border-color: var(--tb-odd-bg);
  --dash-color: var(--link-color);
  --kbd-wrap-color: var(--link-underline-color);
  --kbd-text-color: var(--text-color);
  --kbd-bg-color: white;
  --prompt-text-color: rgb(46, 46, 46, 0.77);
  --prompt-tip-bg: hsl(130, 50%, 75%);
  --prompt-tip-icon-color: hsl(120, 97%, 36%);
  --prompt-info-bg: hsl(215, 94%, 85%);
  --prompt-info-icon-color: hsl(207, 100%, 40%);
  --prompt-warning-bg: hsl(40, 100%, 80%);
  --prompt-warning-icon-color: hsl(39, 98%, 47%);
  --prompt-danger-bg: hsl(355, 70%, 85%);
  --prompt-danger-icon-color: hsl(350, 73%, 53%);

  /* Tags */
  --tag-border: hsl(20deg, 15%, 80%);
  --tag-shadow: var(--btn-border-color);
  --tag-hover: hsl(320, 14%, 89%);
  --search-tag-bg: hsl(320, 17%, 98%);

  /* Categories */
  --categories-border: rgba(0, 0, 0, 0.125);
  --categories-hover-bg: var(--btn-border-color);
  --categories-icon-hover-color: hsl(330, 25%, 25%);

  /* Archive */
  --timeline-color: rgba(0, 0, 0, 0.075);
  --timeline-node-bg: hsl(320, 9%, 78%);
  --timeline-year-dot-color: #ffffff;

  /* --- Custom code light mode colors --- */
  --language-border-color: #a0a0a0;
  --highlight-bg-color: hsl(330, 10%, 85%);
  --highlighter-rouge-color: #3f596f;
  --highlight-lineno-color: #9e9e9e;
  --inline-code-bg: rgba(25, 25, 28, 0.05);
  --code-color: #313131;
  --code-header-text-color: #555555;
  --code-header-muted-color: #a0a0a0;
  --code-header-icon-color: #a0a0a0;
  --clipboard-checked-color: #43c743;

  [class^='prompt-'] {
    --link-underline-color: rgb(219, 216, 216);
  }

  .dark {
    display: none;
  }

  /* --- Syntax highlight theme from `rougify style github` --- */

  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

  .highlight,
  .highlight .w {
    color: #24292f;
    background-color: var(--highlight-bg-color);
  }

  .highlight .k,
  .highlight .kd,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kt,
  .highlight .kv {
    color: #cf222e;
  }

  .highlight .gr {
    color: var(--highlight-bg-color);
  }

  .highlight .gd {
    color: #82071e;
    background-color: #ffebe9;
  }

  .highlight .nb {
    color: #953800;
  }

  .highlight .nc {
    color: #953800;
  }

  .highlight .no {
    color: #953800;
  }

  .highlight .nn {
    color: #953800;
  }

  .highlight .sr {
    color: #116329;
  }

  .highlight .na {
    color: #116329;
  }

  .highlight .nt {
    color: #116329;
  }

  .highlight .gi {
    color: #116329;
    background-color: #dafbe1;
  }

  .highlight .kc {
    color: #0550ae;
  }

  .highlight .l,
  .highlight .ld,
  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: #0550ae;
  }

  .highlight .sb {
    color: #0550ae;
  }

  .highlight .bp {
    color: #0550ae;
  }

  .highlight .ne {
    color: #0550ae;
  }

  .highlight .nl {
    color: #0550ae;
  }

  .highlight .py {
    color: #0550ae;
  }

  .highlight .nv,
  .highlight .vc,
  .highlight .vg,
  .highlight .vi,
  .highlight .vm {
    color: #0550ae;
  }

  .highlight .o,
  .highlight .ow {
    color: #0550ae;
  }

  .highlight .gh {
    color: #0550ae;
    font-weight: bold;
  }

  .highlight .gu {
    color: #0550ae;
    font-weight: bold;
  }

  .highlight .s,
  .highlight .sa,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .se,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1,
  .highlight .ss {
    color: #0a3069;
  }

  .highlight .nd {
    color: #8250df;
  }

  .highlight .nf,
  .highlight .fm {
    color: #8250df;
  }

  .highlight .err {
    color: var(--highlight-bg-color);
    background-color: #82071e;
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cp,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: #68717a;
  }

  .highlight .gl {
    color: #68717a;
  }

  .highlight .gt {
    color: #68717a;
  }

  .highlight .ni {
    color: #24292f;
  }

  .highlight .si {
    color: #24292f;
  }

  .highlight .ge {
    color: #24292f;
    font-style: italic;
  }

  .highlight .gs {
    color: #24292f;
    font-weight: bold;
  }
}
